body {
    font-family: "EtelkaMediumProRegular";
}

/** Margin **/
.m20 {
    margin: 20px;
}

.m20-0 {
    margin: 20px 0;
}

.m0-5 {
    margin: 0 5px;
}

.m-b20 {
    margin-bottom: 20px;
}

.m40-0 {
    margin:40px 0;
}

/** Padding **/

.p20-0{
    padding: 20px 0;
}

.p-t120 {
    padding-top: 120px;
}

.p-t80 {
    padding-top: 80px;
}

.i-center {
    align-items: center;
    justify-content: center;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.t-just {
    text-align: justify;
}

.light_green_color {
    color:#fff;
    font-weight: 500;
    padding: 0px 4px;
    background: rgb(30,126,52,0.7 );
  }

  
.light_yellow {
    background-color: rgb(255,183,28, 0.4); 
}
    
.light_violet {
    background-color: rgb(112,62,143, 0.4);
}
    
.light_green {
    background-color: rgba(131, 153, 32, 0.4);
}
    
.light_red {
    background-color: rgb(223,59,46, 0.4);
}
    
.light_blue {
    background-color: rgb(28,67,164, 0.4);
}

/** Style for 5 Camp Change  **/

.change_text {
    padding: 40px;
    color: #fff;
    border-radius: 20px;
}

.change_text .tittle{
    font-weight: 600;
    font-size: 37px;
    margin: 32px 0;
}

.change_text .price {
    border-radius: 40px;    
    color: #fff;
    background: #0d7824;   
    display: inline-block;   
    padding: 0 20px;
    font-size: 24px;    
}

.campList li {    
    display: inline-block;
}

.campList li:before{
    content: '-';
    font-family: 'fontello';
    color: #55ab26;
    vertical-align: middle;
    font-size: 26px;
}

.campList li p{
    width: 100%;
    margin-left: -40px;
    padding-left: 50px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
}

/** **/

.slick-arrow {
	display: none !important;
}